<%- include('../includes/head.ejs') %> <%- include('../includes/navbar.ejs') %>
<main>
  
  <form
    class="reset-form"
    action="/new-password"
    method="POST"
  >
  <% if (error.length > 0) { %><div class="error"><%= error[0] %></div><% } %>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <input type="hidden" name="userId" value="<%= userId %>" />
    <input type="hidden" name="passwordToken" value="<%= passwordToken %>" />
    <div class="form-control">
      
      <div class="form-group">
        <label for="password">New password</label>
        <input
          type="password"
          id="password"
          name="password"
        />
      </div>

    <button type="submit">Reset password</button>
  </form>
</main>
<%- include('../includes/end.ejs') %>
