<%- include('../includes/head.ejs') %> <%- include('../includes/navbar.ejs') %>
<main>
  <div class="products">
    <% if (products.length !== 0) { products.forEach(product => { %>
    <div class="product">
      <div class="product__header">
        <h2 class="product__title"><%= product.title %></h2>
        <p class="product__price">$<%= product.price %></p>
      </div>
      <div class="product__image-wrapper">
        <img
          class="product__image"
          src="<%= product.imageUrl %>"
          alt="<%= product.title %>"
        />
      </div>
      <p class="product__description"><%= product.description %></p>
      <a href="/cart/<%= product._id %>" class="product__button">Add To Cart</a>
    </div>
    <% }) } else { %>
    <div>No products added yet</div>
    <% } %>
  </div>
</main>
<%- include('../includes/end.ejs') %>
