<%- include('../includes/head.ejs') %> <%- include('../includes/navbar.ejs') %>
<main>
  <h1>Orders</h1>
  <% if (orders.length <= 0) { %>
  <p>No orders</p>
  <% } else { %>
  <ul>
    <% orders.forEach((order) => { %>
    <li>
      <h2># <%= order._id %></h2>
      <ul>
        <% order.items.forEach(item => { %>
        <li><%= item.title %> (<%= item.quantity %>)</li>
        <% }) %>
      </ul>
    </li>
    <% }) %>
  </ul>
  <% } %>
</main>
<%- include('../includes/end.ejs') %>
